/* src/index.css */
body {
  background-color: #ffffff; /* Fundo branco */
  color: #333333;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Caso deseje que links e outros elementos também sigam o estilo */
a {
  text-decoration: none;
  color: inherit;
}
